
body{
    text-align: center;
}
p{
    font-size: 18px;
}
.choice{
    float:left;
    padding: 10px;
    margin: 25px;
}

#choicesDiv{
    display: inline-block;
}
#resultsDiv{
    border: solid 10px black;
}
#youChose{
    background-color: yellowgreen;
    width: auto;
}
#computerChose{
    background-color: orange;
    width: auto;
}
#result{
    background-color: blue;
    color: white;
}
.score{
    background-color: yellow;
}
#scoreDiv{
    display: inline-block;
}
#victoryText{
    background-color: orchid;
}